<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="{{ page.author }}">
	<title>{{ page.title }}</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-v4-grid-only@1.0.0/dist/bootstrap-grid.min.css">
  <!-- We need to inline styles because Github doesn't pick them up. -->
  <style>{% include head/main.css %}</style>
  <!-- Inline critical CSS. -->
  <style>{% include head/critical.css %}</style>
  {% seo %}
</head>
