@import '../functions';
@import '../mixins';
@import '../variables';

@include media-breakpoint-up(md) {
	.Blog {
		&-content {
			// max-width: 35%;
		}

		&-article {
			&-date {
				color: $offwhite;
				font-size: 80%;
				font-weight: bold;
			}
		}
	}
}
