@mixin d-flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin d-inline-flex {
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
}

@mixin flex-wrap($wrap) {
  -ms-flex-wrap: $wrap;
  flex-wrap: $wrap;
}

@mixin align-items-start {
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

@mixin align-items-end {
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

@mixin align-items-center {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

@mixin align-items-stretch {
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
}

@mixin justify-content-start {
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

@mixin justify-content-center {
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

@mixin justify-content-end {
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

@mixin justify-content-around {
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

@mixin justify-content-between {
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

@mixin flex-order($order) {
  -ms-flex-order: $order;
  -webkit-order: $order;
  order: $order;
}

@mixin align-self-start {
  -ms-flex-item-align: start;
  -webkit-align-self: flex-start;
  align-self: flex-start;
}

@mixin align-self-center {
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center;
}

@mixin align-self-end {
  -ms-flex-item-align: end;
  -webkit-align-self: flex-end;
  align-self: flex-end;
}

@mixin align-self-stretch {
  -ms-flex-item-align: stretch;
  -webkit-align-self: stretch;
  align-self: stretch;
}

@mixin flex-item-set-width($value) {
  -ms-flex: 0 0 $value;
  -webkit-flex: 0 0 $value;
  flex: 0 0 $value;

  // Prevent columns from becoming too narrow when at smaller grid tiers by
  // always setting `width: 100%;`. This works because we use `flex` values
  // later on to override this initial width.
  max-width: $value;
}

@mixin flex-item {
  -ms-flex: 1 1 0;
  -webkit-flex: 1 1 0;
  flex: 1 1 0;
}