@import './functions';
@import './mixins';
@import './variables';

.App {
  // height: 100vh;
  // overflow: hidden;
  // display: flex;
  // font-family: sans-serif;
  // justify-content: center;
  // align-items: center;

  &-header {
  }

  &-links {
    display: none;
  }

  &-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    height: 60px;
    margin: 0;
    padding: 5px;
    background-color: $dark;
    color: $gold;
    z-index: 10;
    display: grid;
    grid-template-columns: [start home-start] 1fr [home-end about-start] 1fr [about-end portfolio-start] 1fr [portfolio-end blog-start] 1fr [blog-end contact-start] 1fr [contact-end end];
    grid-template-rows: auto;
    grid-template-areas: "home about portfolio blog contact";
    justify-items: center;
  }

  &-logo {
    display: block;
    margin: auto;
    width: 70px;
    grid-area: logo;

    svg {
      height: 100%;
      width: 100%;
    }

    path {
      fill: $gold;
    }
  }

  &-icon {
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
    
    svg {
      height: 60%;
      padding: 20%;
      width: 60%;
    }

    path {
      fill: $gold;
    }

    @include hover-focus-active {
      svg {
        height: 80%;
        padding: 10%;
        width: 80%;
      }

      path {
        fill: $teal;
      }
    }
  }

  &-home {
    grid-area: home;
  }

  &-about {
    grid-area: about;
  }

  &-portfolio {
    grid-area: portfolio;
  }

  &-blog {
    grid-area: blog;
  }

  &-contact {
    grid-area: contact;
  }

  &-github {
    grid-area: github;
  }

  &-linkedin {
    grid-area: linkedin;
  }

  &-content {
    padding: 15px;
  }
}

@include media-breakpoint-up(sm) {
  .App {
    &-header {
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      width: 100px;
      background-color: $dark;
      color: $gold;
      z-index: 10;
      display: grid;
      grid-template-rows: [start logo-start] 80px [logo-end] 1fr [home-start] 60px [home-end about-start] 60px [about-end portfolio-start] 60px [portfolio-end blog-start] 60px [blog-end contact-start] 60px [contact-end] 1fr [github-start] 60px [github-end linkedin-start] 60px [linkedin-end end];
      grid-template-columns: auto;
      grid-template-areas: 
        "logo"
        "."
        "home"
        "about"
        "portfolio"
        "blog"
        "contact"
        "."
        "github"
        "linkedin";
      justify-items: center;
    }

    &-links,
    &-nav {
      display: contents;
    }

    &-content {
      margin-left: 100px;
    }

    &-icon {
      svg {
        height: 70%;
        padding: 15%;
        width: 70%;
      }

      @include hover-focus-active {
        svg {
          height: 100%;
          padding: 0;
          width: 100%;
        }
      }
    }
  }
}
