@import './functions';
@import './mixins';
@import './variables';

@import url(https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@700&display=swap);

body {
  background-color: $black;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
  min-height: 98vh;
}

h1, h2, h3 {
  color: $gold;
}

p {
	color: $offwhite;
}

.hidden-xs {
	@include media-breakpoint-down(sm) {
		display: none;
	}
}

.sr-only {
	@include sr-only;
}